# Backend
DB_HOST=db
DB_NAME=gestion_activos
DB_USER=gestion
DB_PASS=gestionpass

EXTERNAL_API_BASEURL=http://3.80.223.142:3001/api/public/entradas-contables
EXTERNAL_API_KEY=ak_live_961bea0d3b66b4e10ba6ed563cfe430921fe2bf11ee29191

# Frontend
REACT_APP_API_URL=http://localhost:5000
